* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 10px;
}

#head {
  height: 100px;
  background-color: #e1e1e1;
  margin-bottom: 20px;
}

#main_content {
  height: 100vh;
  background-color: #e1e1e1;
  margin-bottom: 20px;
}

#aside {
  height: 30vh;
  background-color: #e1e1e1;
  margin-bottom: 20px;
}

#box_content {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  height: inherit;
  width: 1000px;
  gap: 30px;
}

.container > div {
  flex: 1;
  background-color: #e1e1e1;
}

footer {
  height: 20vh;
  background-color: #e1e1e1;
}

@media (min-width: 320px) {
  .container {
    flex-direction: column;
    width: 250px;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}
